COMPOSE_PROJECT_NAME=io-fn-backoffice

FUNCTIONS_WORKER_RUNTIME=node
DASHBOARD_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://fnstorage:10000/devstoreaccount1;QueueEndpoint=http://fnstorage:10001/devstoreaccount1;TableEndpoint=http://fnstorage:10002/devstoreaccount1;
DASHBOARD_LOGS_TABLE_NAME=dashboard_audit_logs
FUNCTIONS_V2_COMPATIBILITY_MODE=false

# needed to connect to cosmosdb server
NODE_TLS_REJECT_UNAUTHORIZED=0

SLOT_TASK_HUBNAME=IoFunctionsBackoffice

POSTGRES_HOSTNAME=host.docker.internal
POSTGRES_PORT=5532
POSTGRES_USERNAME=testuser
POSTGRES_PASSWORD=test
POSTGRES_DB_NAME=postgres
POSTGRES_SCHEMA=public

ADB2C_TENANT_NAME=adb2c_tenant
ADB2C_CLIENT_ID=clientID
ADB2C_POLICY_NAME=B2C_1_policy