{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "DASHBOARD_STORAGE_CONNECTION_STRING": "{DASHBOARD_STORAGE_CONNECTION_STRING}",
    "FUNCTIONS_V2_COMPATIBILITY_MODE": {FUNCTIONS_V2_COMPATIBILITY_MODE}
  }
}